body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.group,
.group2 {
  padding-top: 20px;
  margin: 0 auto;
  display: grid;
  width: 250px;
}

.group {
  grid-template-columns: repeat(4, 1fr);
}

.group2 {
  grid-template-columns: 2fr 1fr 1fr;
}

.display {
  display: grid;
  grid-template-rows: 30px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partialDisplayer {
  font-size: 12px;
  grid-row: 1/1;
  grid-column: 2/2;
}

.resultDisplayer {
  grid-row: 2/2;
  grid-column: 3/3;
}



main {
  display: flex;
  justify-content: space-between;
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(104, 103, 103, 0.8));
  height: 600px;
}

div.quote {
  width: 50%;
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 25px ;
}

header h1 {
  color: rgb(43, 42, 42);
  margin: 5px 0;
  font-size: 25px;
 
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  padding-left: 24px;
}
.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 14px;
  font-weight: bold;
}

.nav-link:hover,
.footer-link:hover {
  text-decoration: none;
  color: black;
}